---
layout: default
---
{% include nav.html %}

<div class="jumbotron text-center top-pad header-banner">
  <h1>The Blog</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          
          <div class="hidden-sm hidden-xs">
            <h4>Get the latest, straight to your inbox :)</h4><br>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="you@youarecool.ca">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-envelope"></i> Subscribe!</button>
              </span>
            </div>
          </div>

          <div class="visible-sm visible-xs text-center">
            <button class="btn btn-primary btn-lg">
              <i class="fa fa-envelope"></i> Stay up to date</button>
            </button>
          </div>
          
          <p class="text-center"><br>(I promise I won't ever send you spam)</p>

          <hr>
              
          <div class="hidden-xs">
            <h4>The most recent post</h4><br>
            <div class="thumbnail text-left">
              <img src="http://img14.deviantart.net/9b2d/i/2012/345/3/9/the_silver_token___character_art_3_by_abelphee-d5nq49q.png" alt="...">
              <div class="caption">
                <h3>Post Name</h3>
                <p>Short description of post. Snippet with a few lines here and there.</p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">Read Post</a>
                  <!--<a href="#" role="button"><i class="fa fa-play"></i> Version 0.2</a>-->
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-content col-sm-8 col-sm-pull-4">

          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#posts-all"> All Posts</a></li>
            <li role="presentation"><a href="#posts-plot"><i class="fa fa-book"></i> Story</a></li>
            <li role="presentation" class="disabled"><a><i class="fa fa-pencil"></i> Graphics</a></li>
            <li role="presentation" class="disabled"><a><i class="fa fa-code"></i> Code</a></li>
            <li role="presentation" class="disabled"><a><i class="fa fa-music"></i> Music & SFX</a></li>
            <li role="presentation" class="disabled"><a><i class="fa fa-check-square"></i> Official Releases</a></li>
          </ul>

          <br>

          <div role="tabpanel" class="tab-pane active" id="posts-all">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-comment"></i> Version 0.2 coming! <small>Feb. 23, 2015</small></h3>
              </div>
              <div class="panel-body">
                Stuff in that post ok yeea. Just a simple text-version.
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="posts-plot">
            <div class="row">
              <div class="col-md-6">
                <div class="thumbnail">
                  <img src="http://img14.deviantart.net/9b2d/i/2012/345/3/9/the_silver_token___character_art_3_by_abelphee-d5nq49q.png" alt="...">
                  <div class="caption">
                    <h3>Post Name</h3>
                    <p>Short description of post. Snippet with a few lines here and there.</p>
                    <p>
                      <a href="#" class="btn btn-primary" role="button">Read Post</a>
                      <!--<a href="#" role="button"><i class="fa fa-play"></i> Version 0.2</a>-->
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="thumbnail">
                  <img src="http://img14.deviantart.net/9b2d/i/2012/345/3/9/the_silver_token___character_art_3_by_abelphee-d5nq49q.png" alt="...">
                  <div class="caption">
                    <h3>Post Name</h3>
                    <p>Short description of post. Snippet with a few lines here and there.</p>
                    <p>
                      <a href="#" class="btn btn-primary" role="button">Read Post</a>
                      <!--<a href="#" role="button"><i class="fa fa-play"></i> Version 0.2</a>-->
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="thumbnail">
                  <img src="http://img14.deviantart.net/9b2d/i/2012/345/3/9/the_silver_token___character_art_3_by_abelphee-d5nq49q.png" alt="...">
                  <div class="caption">
                    <h3>Post Name</h3>
                    <p>Short description of post. Snippet with a few lines here and there.</p>
                    <p>
                      <a href="#" class="btn btn-primary" role="button">Read Post</a>
                      <!--<a href="#" role="button"><i class="fa fa-play"></i> Version 0.2</a>-->
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<style type="text/css">

</style>